<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prediksi Tagihan Listrik & Kategori Pengguna</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Prediksi Tagihan Listrik & Kategori Pengguna</h1>
      <a href="{{ url_for('form') }}" class="btn-submit"
        >Mulai Prediksi Sekarang</a
      >
    </div>
  </body>
</html>
